body {
  font-family: 'Poppins', sans-serif;
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #949494; }
  body .contenedor .logo {
    width: 150px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }
  body .menu {
    list-style-type: none;
    text-align: right;
    margin: 2rem; }
    body .menu .hiperVinculoNav {
      text-decoration: none;
      font-family: 'Poppins';
      color: #000000; }
    body .menu .itemNav {
      margin-left: 30px;
      margin-right: 30px;
      display: inline-block;
      border: dotted #000000 2px;
      padding: 0.2rem; }
      body .menu .itemNav .menu2 {
        display: none;
        position: absolute; }
        body .menu .itemNav .menu2 .itemNav2 {
          display: block;
          text-decoration: none;
          font-family: 'Poppins';
          color: #000000;
          text-align: left; }
  body .imagenFondo {
    background-image: url("/imagenes/WhatsApp Image 2022-08-29 at 11.44.37 PM.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 600px; }
    body .imagenFondo .titulos {
      border: #949494 solid 1px;
      text-align: center;
      padding: 1rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      color: #000000; }
    body .imagenFondo .descipcion {
      margin-top: 200px; }
    body .imagenFondo .primerParrafo {
      padding: 20px;
      margin: 10px;
      text-align: center;
      color: #ffffff;
      font-weight: bold; }
  body .formulario .form {
    text-align: left;
    margin-left: 500px;
    border-radius: 5px;
    background-color: #f4c400;
    margin-right: 500px;
    padding: 100px; }
  body .derecha {
    text-align: right; }
