* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', Courier, monospace; }

.nav {
  background-color: #DDDDDD; }

.navBar1 {
  margin-left: auto; }

.carrousel {
  height: 380px; }

.mujer {
  float: right; }

.telefono {
  margin: 10px;
  float: left; }

.sobreMi {
  background-color: #DDDDDD; }
  .sobreMi p {
    padding: 10px; }

.primerParrafo {
  height: 100px;
  padding-top: 20px;
  text-align: center; }

.caja1 {
  background-color: #f4c400;
  border-radius: 10%;
  margin-bottom: 30px;
  margin-left: auto; }

.caja2 {
  background-color: #f4c400;
  border-radius: 10%;
  margin-bottom: 20px; }

.test {
  height: auto;
  margin: 0 auto;
  padding-top: 25%; }

.cards {
  font-size: 30px;
  float: left;
  font-weight: bold; }

.footer {
  background-color: #232323;
  align-items: center; }
  .footer a {
    text-decoration: none; }

.divFooter {
  display: flex;
  justify-content: space-between; }
  .divFooter a {
    align-items: flex-start; }

.shooting {
  color: #DDDDDD;
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  margin-right: 25px; }

.empresa {
  text-align: center;
  margin-top: 10px; }
