* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', Courier, monospace; }

.nav {
  background-color: #DDDDDD; }

.navBar1 {
  margin-left: auto; }

.carrousel {
  height: 380px; }

.mujer {
  float: right; }

.telefono {
  margin: 10px;
  float: left; }

.sobreMi {
  background-color: #DDDDDD; }
  .sobreMi p {
    padding: 10px; }

<<<<<<< HEAD
.primerParrafo {
  height: 100px;
  padding-top: 2px;
  text-align: center; }
=======
.menu{
    list-style-type:none;
    text-align: right;
    margin: 2rem;
    
    
    
    
}
.itemNav :hover .itemNav2 {
    display: block;
>>>>>>> 75504c6ceb6bd33bfa0133268eb8122de1a9ac97

.caja1 {
  background-color: #f4c400;
  border-radius: 10%;
  margin-bottom: 30px;
  margin-left: auto; }

.caja2 {
  background-color: #f4c400;
  border-radius: 10%;
  margin-bottom: 20px; }

.test {
  height: auto;
  margin: 0 auto;
  padding-top: 25%; }

.cards {
  font-size: 30px;
  float: left;
  font-weight: bold; }

.footer {
  background-color: #232323;
  align-items: center; }

.divFooter {
  display: flex;
  justify-content: space-between; }
  .divFooter a {
    align-items: flex-start; }

.shooting {
  color: #DDDDDD;
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  margin-right: 25px; }

<<<<<<< HEAD
.empresa {
  text-align: center;
  margin-top: 10px; }
=======
.form{
    text-align: left;
    margin-left: 500px;
    border-radius: 5px;
    background-color: #f4c400;
    margin-right: 500px;
    padding: 100px;



}
.imagenFondo{
    background-image: url("/imagenes/WhatsApp Image 2022-08-29 at 11.44.37 PM.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 600px;
    
}
.contenedorGaleria{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    

}

.descripcion{
    margin-top: 200px;

}

.menu2{
    display: none;
    position: absolute;

}
.itemNav2{
    display: block;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
    color: rgb(255, 255, 255);
    text-align: left;
    

}
.itemNav:hover .menu2{
    display: block;

}
img{
    width: 250px;
    height: auto;
    margin: 10px;

} 
>>>>>>> 75504c6ceb6bd33bfa0133268eb8122de1a9ac97
