$gris:#949494;
$blanco:#ffffff; 
$amarillo: #f4c400;
$negro: #000000; 

body{
    font-family: 'Poppins', sans-serif;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $gris;

    .contenedor{
        
            .logo{
                width: 150px;
                padding: 20px;
                margin: 10px;
                display: inline-block;
                animation-duration: 3s;
                animation-name: aparecer;
                animation-iteration-count: infinite;}
                }
            .menu{
                list-style-type:none;
                text-align: right;
                margin: 2rem;
                
                .hiperVinculoNav{
    
                    text-decoration: none;
                    font-family: 'Poppins';
                    color: $negro;
                    
                    
                }

                .itemNav{
                    margin-left: 30px;
                    margin-right: 30px;
                    display: inline-block;
                    border: dotted $negro 2px;
                    padding: 0.2rem;
                   
                    
                    

                    
                .menu2{
                    display: none;
                    position: absolute;

                    .itemNav2{
                        display: block;
                        text-decoration: none;
                        font-family: 'Poppins';
                        color: $negro;
                       text-align: left;

                       
                    }
                }
            
            }
        }
        .imagenFondo{
            background-image: url("/imagenes/WhatsApp Image 2022-08-29 at 11.44.37 PM.jpeg");
            background-repeat: no-repeat;
            width: 100%;
            background-size: cover;
            background-position: center;
            height: 600px;

            .titulos{
                border: $gris solid 1px;
                text-align: center;
                padding: 1rem;
                margin-bottom: 1rem;
                margin-top: 1rem;
                color: $negro;
            }
            .descipcion{
                margin-top: 200px;

            }
            .primerParrafo{
                padding: 20px;
                margin: 10px;
                text-align: center;
                color: $blanco;
                font-weight: bold;
                
            
            }
            

        }
        .formulario{
            .form{
                text-align: left;
                margin-left: 500px;
                border-radius: 5px;
                background-color: $amarillo;
                margin-right: 500px;
                padding: 100px;}

        }
        
        .derecha{
            text-align: right;

        }
    }
            

                
                
                
            
                  
    
